{% import 'macros.njk' as macros %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>For the Love of Inquiry</title>
        <link rel="stylesheet" type="text/css" href="styles/clearstyle.css">
        <link rel="stylesheet" type="text/css" href="styles/style.css">
        <script src="scripts/script.js" defer></script>
    </head>
    <body>
        <main data-menu_open="false">
            <button id="toggle-nav" aria-controls="menu" aria-expanded="false">
                <label class="body-tnr">Menu</label>
                {{ macros.close_icon() }}
            </button>
            <nav
                id="menu" name="Menu" aria-hidden="true">
                {# preserveAspectRatio="none" #}
                <div id="fly-path-wrapper">
                    <div id="fly-path-inner-wrapper">
                        <svg id="fly-path" viewbox="0 0 100 100" xmlns:xlink="http://www.w3.org/1999/xlink" class="fly-line">
                            <defs>
                                <polyline id="trace" points="0,0"></polyline>
                                <mask id="mask">
                                    <use class="mask" xlink:href="#trace"></mask>
                                </defs>
                                <use class="aggregate" xlink:href="#trace" mask="url(#mask)"/>
                            </svg>
                            {{ macros.fly() }}
                        </div>
                    </div>
                </nav>
                <article>
                    <header>
                        <h1>
                            <a href="/">For the<br>Love of<br>Inquiry</a>
                        </h1>
                    </header>
                    <h2>
                        <p>
                            <span class="optical-align">(</span><strong>FLI</strong>) is a transnational design anthropology research laboratory.</p>
                        <p>
                            <strong>FLI</strong>
                            is dedicated to pushing the boundaries of methods and interdisciplinary approaches to anthropological inquiry that
                            address complex issues faced by organizations and communities.</p>
                    </h2>
                    <figure class="image large">
                        <img src="assets/images/fli-portrait.jpg">
                    </figure>
                    <p>We examine issues using a mix of interdisciplinary methods inclusive of ethnographic, archival, and artistic
                        techniques to cultivate practitioners who are not only conscious of their impact on both local and global communities
                        but also understand their broader role in the world.</p>
                    <p>We are designers, anthropologists, researchers, educators, and artists who passionately pursue research challenges
                        for the love of inquiry.</p>
                </article>
            </main>
        </body>
    </body>
</html>