---
title: ''
pagetype: 'page'
---

{% import 'macros.njk' as macros with context %}
{% import 'projects_feed.njk' as projects_feed with context %}
{% import 'nav.njk' as nav with context %}
{% import 'article_content.njk' as article_content with context %}

{% set landing = pagetype == "landing" %}


{% if landing %}
    {% set rootpath = "" %}
{% endif %}

{% set template = "home" if landing else pg.properties.template.value[0] %}

{% set homepage_content = cms.pages | notion_data_find_in_select("template", "home") %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>For the Love of Inquiry {%if title%}| {{title}}
            {% endif %}
        </title>
        <link rel="stylesheet" type="text/css" href="{{rootpath}}styles/clearstyle.css">
        <link rel="stylesheet" type="text/css" href="{{rootpath}}styles/style.css">

        <script>
            let base_url = "{{base_url}}"
        </script>
        <script src="{{rootpath}}scripts/script.js" defer></script>
        {% if template == 'projects'%}
            <link rel="stylesheet" type="text/css" href="{{rootpath}}styles/projects.css">
            <script src="{{rootpath}}scripts/projects.js" defer></script>
        {% endif %}
    </head>
    <body>
        <main data-menu_open="false">
            
            {{ nav.html() }}

            <article>
                <header>
                    <h1>
                        <a href="{{base_url}}">For the<br>Love of<br>Inquiry</a>
                    </h1>
                </header>
                {% set pagetext = false %}
                {% set pagetitle = false %}
                {% if pagetype == "landing" %}
                    {% set pagetext = homepage_content.mdcontent %}
                {% elif pagetype == "page" %}
                    {% set pagetitle = pg.properties.title.value %}
                    {% if template !== "projects" %}
                        {% set pagetext = pg.mdcontent %}
                    {% endif %}
                {% elif pagetype == "project" %}
                    {% set pagetext = proj.mdcontent %}
                    {% set pagetitle = proj.properties.title.value %}
                {% endif %}
                {% if pagetitle %}
                    <h2 class="page-heading">{{pagetitle}}</h2>
                {% endif %}

                {% if pagetext %}
                    {{ article_content.loop(pagetext) }}
                {% elif template == 'projects' %}
                    {{ projects_feed.html() }}
                {% endif %}

            </article>
        </main>
    </body>
</html>