---
title: ''
landing: false
---

{% import 'macros.njk' as macros with context %}
{% set base_url="BASE_URL" | env%}
{% set rootpath="" if landing else "../" %}

{# {% set testing = cms.pages[0] | console_debug("cms") %} #}
{% set homepage_content = cms.pages | notion_data_find_in_select("template","home") %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>For the Love of Inquiry {%if title%}| {{title}}{% endif %}</title>
        <link rel="stylesheet" type="text/css" href="{{rootpath}}styles/clearstyle.css">
        <link rel="stylesheet" type="text/css" href="{{rootpath}}styles/style.css">
        <script>
            let base_url="{{base_url}}"
        </script>
        <script src="{{rootpath}}scripts/script.js" defer></script>
    </head>
    <body>
        <main data-menu_open="false">
            <button id="toggle-nav" aria-controls="menu" aria-expanded="false">
                <label class="body-tnr">Menu</label>
                {{ macros.close_icon() }}
            </button>
            <nav
                id="menu" name="Menu" aria-hidden="true">
                {# preserveAspectRatio="none" #}
                <div id="fly-path-wrapper">
                    <div id="fly-path-inner-wrapper">
                        <svg id="fly-path" viewbox="0 0 100 100" xmlns:xlink="http://www.w3.org/1999/xlink" class="fly-line">
                            <defs>
                                <polyline id="trace" points="0,0"></polyline>
                                <mask id="mask">
                                    <use class="mask" xlink:href="#trace"></mask>
                                </defs>
                                <use class="aggregate" xlink:href="#trace" mask="url(#mask)"/>
                            </svg>
                            {{ macros.fly() }}
                        </div>
                    </div>
                    {% for page in cms.pages %}
                        {% if page.properties.include_in_menu.value %}
                        <div class="nav-link-wrapper">
                            {% set title = page.properties.title.value %}
                            {% if page.properties.template.value[0]=='home' %}
                                {% set link = "" %}
                            {% else%}
                                {% set link = title | slugify %}
                            {% endif %}
                            
                            <a class="menu-link pantasia-large" href="{{base_url}}{{ link }}">{{title}}</a>
                        </div>
                        {% endif %}
                    {% endfor %}
                </nav>
                <article>
                    <header>
                        <h1>
                            <a href="{{base_url}}">For the<br>Love of<br>Inquiry</a>
                        </h1>
                    </header>
                    {% if not landing %}
                        {% set pagetext = pg.mdcontent %}
                    {% else %}
                        {% set pagetext = homepage_content.mdcontent %}
                    {% endif %}

                    {{ macros.content_loop(pagetext) }}
                </article>
            </main>
        </body>
    </body>
</html>

