---js
{
  pagination:{
    data: "cms.pages",
    size: 1,
    alias: "pg",
    before:(items)=>{
      return items.filter(item=>!item.properties.template.value.includes("home"));
    }
  },
  permalink: "{{ pg.properties.title.value | slugify }}/",
  layout: "main.njk",
  rootpath: "../",
  pagetype: "page",
}
---