:root {
    --text-main: #000000;
    --text-alt: #ff0000;
}

@font-face {
    font-family: pantasia;
    src: url(../fonts/pantasia-trial.otf);
}

@media (max-width: 799px) {
    body {
        margin: auto;
        width: calc(100% - 40px);
        padding: 0px 20px 0px 20px;
    }

    .item {
        margin-top: 40px;
    }

    h1 {
        font-size: 32px;
    }

    p,
    span,
    h2,
    h3,
    li,
    #intro {
        font-size: 16px;
    }
,
    p:first-child {
        margin-top: 12px;
    }

    h3 {
        margin-top: 12px !important; 
    }

    .fixed-left {
        top: 20px;
        left: 20px;
    }
    
    .fixed-right {
        top: 20px;
        right: 20px;
    }

    ul {
        margin: 0px 0px 0px 20px;
    }

    .proj-title {
        width: calc(50% - 10px);
        
    }
    
    .proj-meta {
        width: calc(50% - 10px);
    }
}

@media (min-width: 800px) and (max-width: 1599px) {
    body {
        margin: auto;
        width: 680px;
    }

    .item {
        margin-top: 60px;
    }

    h1 {
        font-size: 44px;
    }

    p,
    span,
    h2,
    h3,
    li,
    #intro {
        font-size: 22px;
    }

    p:first-child {
        margin-top: 18px;
    }

    h3 {
        margin-top: 18px !important;
    }

    .fixed-left {
        top: 40px;
        left: 40px;
    }
    
    .fixed-right {
        top: 40px;
        right: 40px;
    }

    ul {
        margin: 0px 0px 0px 44px;
    }

    .proj-title {
        width: calc(50% - 22px);
        
    }
    
    .proj-meta {
        width: calc(50% - 22px);
    }
}

@media (min-width: 1600px) {
    body {
        margin: auto;
        width: 1000px;
    }

    .item {
        margin-top: 96px;
    }

    h1 {
        font-size: 64px;
    }

    p,
    span,
    h2,
    h3,
    li,
    #intro {
        font-size: 32px;
    }

    p:first-child {
        margin-top: 24px;
    }

    h3 {
        margin-top: 24px !important;
    }

    .fixed-left {
        top: 40px;
        left: 40px;
    }
    
    .fixed-right {
        top: 40px;
        right: 40px;
    }

    ul {
        margin: 0px 0px 0px 64px;
    }

    .proj-title {
        width: calc(50% - 32px);
        
    }
    
    .proj-meta {
        width: calc(50% - 32px);
    }
}

nav {
    display: block;
    color: var(--text-alt);
}

.fixed-left,
.fixed-right {
    display: absolute;
    position: fixed;
}

header {
    display: block;
    position: fixed;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

header h1 {
    color: var(--text-alt);
    display: block;
}

main {
    width: 100%;
    position: relative;
    top: 94svh;
    padding-bottom: 33vh;
    color: var(--text-main);
}

details>summary {
    list-style: none;
}

details>summary::-webkit-details-marker {
    display: none;
}

h1 {
    margin: auto;
    text-align: center;
    font-family: pantasia;
    font-weight: normal;
    transform: skew(0deg, 14.036deg);
    line-height: 1.45;
}

h2 {
    font-weight: bold;
    margin: auto;
}

h3 {
    margin: auto;
    font-weight: normal;
}

summary h1 {
    text-decoration: underline;
    text-decoration-thickness: .045em;
    text-underline-offset: 0.14em;
    margin-top: 1.25em;
}

details[open] summary h1 {
    transform: skew(0deg, -14.036deg);
    text-decoration: none;
    margin-top: 1.25em;
}

p,
span,
h2,
#intro,
ul,
li {
    font-family: 'Times New Roman';
    line-height: 1.4;
    word-wrap: break-word;
}

ul {
    list-style-type: none;
    padding: 0;
}

.meta {
    display: block;
}

.proj-title {
    display: inline-block;
    float: left;
}

.proj-meta {
    display: inline-block;
    float: right;
}

.proj-desc {
    display: inline-block;
    width: 100%;
}

p:nth-child(n+2) {
    text-indent: 1.4em;
}

p {
    margin: auto;
}

.back {
    opacity: 1;
    transition: opacity 1s;
}